{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MovieBooker</title>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="{% static 'img/technarts.png' %}"/>
</head>
<body>

<nav class="navbar navbar-inverse text-center">
    <div class="container-fluid text-center">
        <div class="col-lg-5"></div>
        <div class="col-lg-2 text-center">
            <a class="navbar-brand" href="{% url 'Book View' %}" style="margin-left: 70px">MovieBooker</a>
        </div>
        <div class="col-lg-5"></div>
    </div>
</nav>

<div class="row">
    <div class="col-lg-12 text-center" style="color: whitesmoke">
        <h3>If you select a book, MovieBooker will suggest you some movies</h3>
    </div>
</div>
<div class="row">

    <div class="col-lg-10 col-lg-offset-1">
        <form method="post" class="form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="col-sm-12">
                <select class="select2_demo_1 form-control" id="entity_select_1" name="entity_1">
                    {% for book in books %}
                        <option value="{{ book.id }}">{{ book.title }}</option>
                    {% endfor %}
                </select>
            </div>

        </form>
    </div>
</div>

<div class="row text-center">
    <h1 style="color: whitesmoke">Some Randomly Selected Books</h1>
    <div class="col-lg-10 col-lg-offset-1">
        {% for random_book in random_books %}
            <div class="col-lg-2">
                <a href="{% url 'Recommended Movie View' random_book.id %}">
                    <div class="col-lg-12" style="height: 220px; margin: 10px; padding: 5px; background: #232e39">
                        <img src="{{ random_book.image_url }}" style="height: 160px">
                        <h3 style="color: whitesmoke">{{ random_book.title }}</h3>
                    </div>

                </a>
            </div>

        {% endfor %}
    </div>
</div>

<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>


<script>
    $(document).ready(function () {
        $("#entity_select_1").select2({});
        $('#entity_select_1').on('select2:select', function (e) {
            var data = e.params.data;
            window.location.replace('/recommender_movies/' + data['id']);

        });

    });
</script>

</body>
</html>

