{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MovieBooker</title>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="{% static 'img/technarts.png' %}"/>
</head>
<body>

<nav class="navbar navbar-inverse text-center">
    <div class="container-fluid text-center">
        <div class="col-lg-5"></div>
        <div class="col-lg-2 text-center">
            <a class="navbar-brand" href="{% url 'Book View' %}" style="margin-left: 70px">MovieBooker</a>
        </div>
        <div class="col-lg-5"></div>
    </div>
</nav>


<div class="row text-center">
    <div class="col-lg-10 col-lg-offset-1">
        <h2 style="color: #d48181">Book Cover & Description</h2>
        <div class="col-lg-6 col-lg-offset-3">
            <img src="{{ book.image_url }}" style="height: 160px">

            <h3 style="color: #e0b9b9">{{ book.desc }}</h3>

        </div>
    </div>
    <h1 style="color: whitesmoke">Recommended Movies for {{ book.title }}</h1>


    <div class="col-lg-10 col-lg-offset-1">
        {% for rank, movie in movies %}
            <div class="col-lg-6">
                <div class="col-lg-12" style="height: 280px; margin: 10px; padding: 5px; background: #232e39">

                    <div class="col-lg-3">
                        <h4 style="color: whitesmoke">Rank {{ rank }}</h4>

                        <img src="{{ movie.image_url }}" style="height: 160px">
                        <h3 style="color: whitesmoke">{{ movie.title }}</h3>
                    </div>
                    <div class="col-lg-9">
                        <h4 style="color: whitesmoke">Movie Description</h4>
                        <span style="color: #e0b9b9">{{ movie.desc }}</span>


                    </div>
                </div>

            </div>

        {% endfor %}
    </div>
</div>
<div class="row text-center">
    <h2 style="color: whitesmoke">Relevance Feedback</h2>
    <h3 style="color: whitesmoke">You can select most relevant movies and let us recalculate the ranks</h3>
    <div class="col-lg-10 col-lg-offset-1" style="height: 200px">
        <form method="post" class="form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="col-sm-4">
                <select class="select2_demo_1 form-control " id="most_relevant_movies_1" name="most_relevant_movies_1">
                    {% for rank, movie in movies %}
                        <option value="{{ movie.id }}">{{ movie.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-4">
                <select class="select2_demo_1 form-control " id="most_relevant_movies_2" name="most_relevant_movies_2">
                    {% for rank, movie in movies %}
                        <option value="{{ movie.id }}">{{ movie.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-4">
                <select class="select2_demo_1 form-control " id="most_relevant_movies_3" name="most_relevant_movies_3">
                    {% for rank, movie in movies %}
                        <option value="{{ movie.id }}">{{ movie.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-12 form-group" style="margin-top: 25px">
                <div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>


<script>
    $(document).ready(function () {
        $("#most_relevant_movies_1").select2({});
        $("#most_relevant_movies_2").select2({});
        $("#most_relevant_movies_3").select2({});


    });
</script>

</body>
</html>

